/**
* Style du site cbrunel.com
**/

.img-cbrunel {
  position: absolute;
  top: 20px;
  left: -130px;
  max-height: 100px;
  border-radius: 60px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.img-cbrunel:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#forkme_banner {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;  
}

#forkme_banner:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}