<section class="masthead">
  <div class="container">
    <h1>Présentation</h1>

    <h2>Découvrez-moi sur ce site en visualisant les différents projets auxquels j'ai participé.</h2>
  </div>
</section>

<section class="features">
  <div class="container">
    <div class="row">
      <div class="info-bullet col-lg-4">
        <div class="info-bullet--icon">
          <i class="fa fa-suitcase"></i>
          <h5><a href="#projects">Projects</a></h5>
        </div>

        <p>Voici une liste des projets auxquels j'ai participé.</p>
      </div>
      <div class="info-bullet col-lg-4">
        <div class="info-bullet--icon">
          <i class="fa fa-graduation-cap"></i>
          <h5><a href="#about">Présentation</a></h5>
        </div>

        <p>Ici vous pouvez en apprendre plus sur mon cursus scolaire, et les différentes motivations qui me poussent
          dans ce metier.</p>
      </div>
      <div class="info-bullet col-lg-4">
        <div class="info-bullet--icon">
          <i class="fa fa-paper-plane"></i>
          <h5><a href="#contact">Contact</a></h5>
        </div>

        <p>Si vous souahitez me contacter, je vous laisse regarder les differents moyen pour cela.</p>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <a class="pull-right" href="https://github.com/timebox-designs/pineapple-in-a-can">timebox designs</a>
      </div>
    </div>
  </div>
</footer>