<section class="masthead">
  <div class="container">
    <h1>Contactez moi !</h1>

    <h3>Je vous répondrais le plus rapidement possible.</h3>
  </div>
</section>

<section class="features">
  <div class="container">
    <div class="row">
      <div class="">
        <p><span>Email:</span><span>constant.brunel@supinfo.com</span></p>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <a class="pull-right" href="https://github.com/timebox-designs/pineapple-in-a-can">timebox designs</a>
      </div>
    </div>
  </div>
</footer>